<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <a href="{% url 'document_new' %}">Новый запрос</a>
</div>

<form>

</form>
<h2>Выберите элемент из списка:</h2>
<form method="post" action="{% url 'zapros2' %}">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Показать информацию</button>
</form>

{% if selected_item %}
    <h2>Информация о выбранном элементе:</h2>
    <table border="1">
        <tr>
            <th>Название</th>
            <th>Описание</th>
        </tr>
        <tr>
            <td>{{ selected_item.title }}</td>
            <td>{{ selected_item.text }}</td>
        </tr>
    </table>
{% endif %}


</body>
</html>