<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <a href="{% url 'document_new' %}" >Новый запрос</a>
</div>

        <form>
             <label> Поле выбора запроса </label>
                        <select name="document_detail" id="Document" class="form-control">
                <option value="0">--Выбор запроса--</option>
                {% for document in items %}
                <option value="{{ document.id }}">{{ document.title }}</option>
                {% endfor %}
                        </select>
               <!-- <input type="submit" value="click">-->
        </form>
    <h2>Выберите элемент из списка:</h2>
<form method="post" action="{% url 'zapros' %}">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Показать информацию</button>
</form>

            {% if item %}
    <h2>Информация о выбранном элементе:</h2>
    <table border="1">
        <tr>
            <th>Название</th>
            <th>Описание</th>
        </tr>
        <tr>
            <td>{{ item.title }}</td>
            <td>{{ item.text }}</td>
        </tr>
    </table>
            {% endif %}



</body>
</html>