<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

</head>
<body>
 <div>
    <a href="{% url 'person_new' %}">Создание персон</a>
 </div>
 <div>
    <a href="{% url 'car_new' %}">Создание Машины</a>
 </div>
  <form class="search", action="{% url 'list_objects' %}">
                <input type="text" class="search_input" placeholder="Найти пост", type="search", name="search">
                    <button class="button button__search" >
                    <div class="search_button-text">Поиск</div>
                    <svg width="21" height="20" viewBox="0 0 21 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <svg width="21" height="20" viewBox="0 0 21 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M20.3779 18.6996L14.5681 12.8897C15.67 11.5293 16.3334 9.79975 16.3334 7.9167C16.3334 3.55145 12.7819 0 8.41666 0C4.05141 0 0.5 3.55145 0.5 7.9167C0.5 12.2819 4.05145 15.8334 8.4167 15.8334C10.2997 15.8334 12.0293 15.17 13.3897 14.0681L19.1996 19.878C19.3623 20.0407 19.6261 20.0407 19.7889 19.878L20.378 19.2888C20.5407 19.1261 20.5407 18.8623 20.3779 18.6996ZM8.4167 14.1667C4.97024 14.1667 2.16668 11.3631 2.16668 7.9167C2.16668 4.47024 4.97024 1.66668 8.4167 1.66668C11.8631 1.66668 14.6667 4.47024 14.6667 7.9167C14.6667 11.3631 11.8631 14.1667 8.4167 14.1667Z"
                              fill="white"/>
                    </svg>

                </button>
            </form>

    <div >

           {%for i in data%}

            <th>Person

                <p  style=" border: 2px solid black;">
               <th> ID {{ i.uid }}<br></th>
               <th> Имя: {{ i.name }}<br></th>
               <th> Возраст:  {{ i.age }}<br></th>
                <th>
                    <a href="{% url 'list_detail' uid=i.uid %}">Смотреть полностью</a>
                </th>
                <th>
                   <a href="{% url 'person_delete' uid=i.uid %}"> Удалить</a>
                 </th>
                 <th>
                   <a href="{% url 'person_update' uid=i.uid %}"> Изменить</a>
                 </th>
                </p>
                {% endfor %}


    </div>

     <div >

           {%for i in data_cars%}
                <th>Car</th>

                <p  style=" border: 2px solid black;">
               <th> ID {{ i.uid }}<br></th>
               <th> Имя: {{ i.name }}<br></th>
               <th> Возраст:  {{ i.number }}<br></th>
                    <th>
                    <a href="{% url 'list_detail_car' uid=i.uid %}">Смотреть полностью</a>
                </th>
                    <th>
                   <a href="{% url 'car_delete' uid=i.uid %}"> Удалить</a>
                 </th>

                </p>
                {% endfor %}

     </div>

</body>
</html>