<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

</head>
<body>
            <form method="post" action="{% url 'vivod' %}">
                {% csrf_token %}
                {{ form_real.as_p }}
    <button type="submit">Показать информацию</button>
</form>

        {% if selected_item_person %}
    <h2>Информация о выбранном элементе:</h2>
    <table border="1">
        <tr>
            <th>Название</th>
            <th>Описание</th>
        </tr>
        <tr>
            <td>{{ selected_item.name }}</td>
        </tr>
    </table>
        {% endif %}
{% if selected_item_person %}
    <h2>Информация о выбранном элементе:</h2>
    <table border="1">
        <tr>
            <th>Название</th>
            <th>Описание</th>
        </tr>
        <tr>
            <td>{{ selected_item.name }}</td>
        </tr>
    </table>
        {% endif %}
</body>
</html>